extends layout

block content
  h1 怪傑佐羅力 [第 #{book.no} 集]
  h3 書名 : #{book.title}
  p #[strong 作者:] #{book.author}
  p #[strong Status:] #{book.status} 
  
  div(style='margin-left:20px;margin-top:20px')

  p #[strong 無責書評:] 
  p #{book.review_star} 顆星   
  if book.review_star==1
    img(src="../../img/star.png" ) 
  else if book.review_star==2
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" ) 
  else if book.review_star==3
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" ) 
  else if book.review_star==4
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" )
    img(src="../../img/star.png" )
  else if book.review_star==5
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" ) 
    img(src="../../img/star.png" )
    img(src="../../img/star.png" )
    img(src="../../img/star.png" )
  p #[strong 心得:]  
  textarea#review_summary.form-control(type='textarea', placeholder='Summary' name='review_summary' rows='3' readonly ) #{book.review_summary}
  p #[strong 日期:] #{book.review_date_formatted} 
 
  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
