extends layout

block content
  h1= title 
  ul          
    - var count = 0
    table(border='1' style="font-family:Microsoft JhengHei; font-size:16px" )
      each book in book_list             
        if `${count}` % 5 == 0
          tr
        td(width="155")
          img(src='../../img/book_'+ `${book.no}` +'.jpg' width="150" ) 
          p [#{book.no}] : #{book.title}    
          p 還沒看過 

        - count = count+1

      else
        li There are no books


