extends layout

block content    
  h1 怪傑佐羅力 [第 #{book.no} 集]
  
  table(border='0' style="font-family:Microsoft JhengHei; font-size:16px")
    tr
      td(rowspan='4') 
        img(src='../../img/book_'+ `${book.no}` +'.jpg') 
      td 書名 : #{book.title}    
    tr
      td #[strong 作者:] #{book.author}
    tr
      td #[strong Status:] #{book.status} 
    tr 
      td #[strong 無責書評:]   
        if book.review_star==1
          p 1顆星: 失望,作者要加油喔
          img(src="../../img/star.png" )     
        else if book.review_star==2
          p 2顆星: 普通,不太懂笑點在哪
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" ) 
        else if book.review_star==3
          p 3顆星: 很棒,感謝佐羅力+伊豬豬+魯豬豬
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" ) 
        else if book.review_star==4
          p 4顆星: 超有趣,搞笑又感人,還學到很多做人道理喔
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" )
          img(src="../../img/star.png" )
        else if book.review_star==5
          p 5顆星: 超讚,想給作者一張貼紙
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" ) 
          img(src="../../img/star.png" )
          img(src="../../img/star.png" )
          img(src="../../img/star.png" )


  p #[strong 心得:]  
  textarea#review_summary.form-control(style="font-family:Microsoft JhengHei;font-size:16px;" type='textarea', placeholder='Summary' name='review_summary' rows='3' readonly ) #{book.review_summary}
  p #[strong 日期:] #{book.review_date_formatted} 
 
  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
